
/* import inter from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

  :root {
    --background-color: #f5f5f5;
    --text-color: #101010;
    --main-font: 'Inter', system-ui, sans-serif;
    --h1-font: 'new-spirit', system-ui, sans-serif;
    
    --h1-size: 50px;
    --h2-size: 24px;
    --brødtekst-size: 16px;

    /* Desktop */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
		overflow-x: hidden;
	}

  body {
    font-family: var(--main-font);
    font-weight: normal;
    line-height: 1.6;
    color: var(--text-color);
  }
   
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  h1 {
		font-size: var(--h1-size);
		line-height: 1;
		font-family: var(--h1-font);
		font-weight: 600;
		font-style: normal;
    margin-top: 4rem;
	}

  h2 {
    font-size: var(--h2-size);
    line-height: 1.2;
    font-family: var(--main-font);
    font-weight: normal;
  }

  p {
    font-size: var(--brødtekst-size);
    line-height: 1.6;
    font-family: var(--main-font);
    font-weight: normal;
  }