---
import IndexCard from "../components/IndexCard.astro";
import InfoRow from "../components/InfoRow.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Sakura Festival">
  <section class="info_section">
    <h1 class="reveal">Sakura Festival 2023</h1>
    <p>Oplev de nyudsprungede kirsebærblomster og dyk ned i den japanske kultur med sjove events og boder.</p>
    <div class="info">
      <InfoRow title="April 22-23" subtitle="11:00-16:00" icon="imgs/calendar.svg" />
      <a href="https://goo.gl/maps/h6CkMgzJXYgYh1fAA">
        <InfoRow title="Langelinie - Kbh K" subtitle="Fri entré" icon="imgs/pin.svg" />
      </a>
    </div>
    <div class="sakura_tree_mobile"></div>
    <div class="sakura_tree_desktop"></div>
  </section>

  <section class="grid_section">
    <div class="grid">
      <IndexCard title="Program" img="program.jpg" link="/program/Alle" />
      <IndexCard title="Bliv Frivillig" img="bliv_frivillig.jpg" link="/bliv_frivillig" />
      <IndexCard title="Om Sakura" img="om_os.jpg" link="/om_os" />
      <IndexCard title="Find Vej" img="find_vej.jpg" link="/find_vej" />
    </div>
  </section>

  <section class="sponsor_section">
    <h2>Mød vores sponsorer</h2>
    <div class="sponsor_scroll">
      <div>
        <img src="imgs/sponsor1.png" alt="København Kommune Logo" />
        <img src="imgs/sponsor2.png" alt="Toyota Fonden logo" />
        <img src="imgs/sponsor3.png" alt="Sticks n' sushi logo" />
        <img src="imgs/sponsor4.png" alt="Japanske forening logo" />
        <img src="imgs/sponsor5.png" alt="Asia house logo" />
        <img src="imgs/sponsor6.png" alt="Zeria group" />
        <img src="imgs/sponsor7.png" alt="Milestone logo" />
      </div>
      <div>
        <img src="imgs/sponsor8.png" alt="Fujifilm" />
        <img src="imgs/sponsor9.png" alt="Japanske embassade logo" />
        <img src="imgs/sponsor10.png" alt="Canon logo" />
        <img src="imgs/sponsor11.png" alt="DP logo" />
        <img src="imgs/sponsor12.png" alt="Andersen Bakery logo" />
        <img src="imgs/sponsor13.png" alt="Torm logo" />
        <img src="imgs/sponsor14.png" alt="NEC logo" />
      </div>
    </div>
  </section>

</MainLayout>

<style>
  h1 {
    max-width: 10rem;
  }

	section {
		margin-bottom: 2rem;
	}

  .info_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info_section h1 {
    margin-bottom: 2rem;
  }

  .info_section a {
    text-decoration: none;
    color: inherit;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 0;
  }

  .sakura_tree_desktop {
    display: none;
  }

  .sakura_tree_mobile {
    position: absolute;
    width: 345px;
    height: 320px;
    right: 0px;
    top: 0px;
    background-image: url("/imgs/sakura_mobile.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .grid {
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
  }

  .sponsor_scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    width: 94vw;
  }
  .sponsor_section h2{
	  margin-block: 4rem 1rem;
  }
  .sponsor_scroll div {
    display: flex;
    width: 92vw;
    gap: 2rem;
  }
  .sponsor_scroll img {
    width: 200px;
  }
  .sponsor_scroll::-webkit-scrollbar {
    display: none;
  }


@media (min-width: 1500px) {
    .sakura_tree_desktop {
      width: 54rem;
      top: -100px;
    }
  }
  @media (min-width: 840px) {
    .sakura_tree_desktop {
      display: block;
      position: absolute;
      aspect-ratio: 1/1;
      width: 44rem;
      right: 0px;
      top: -38px;
      background-image: url("/imgs/sakura_desktop.png");
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
    .sakura_tree_mobile {
      display: none;
    }
  }

  @media (min-width: 650px) {
    .info {
      flex-direction: row;
      align-items: start;
      gap: 2rem;
    }

    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .info_section p {
      max-width: 28rem;
    }

    h1 {
      max-width: none;
    }

    p {
      margin-block: 1rem;
    }
    .sponsor_section h2{
      text-align: center;
      margin-block: 4rem 3rem;
    }
	.sponsor_scroll div{
    display: flex;
    gap: 2rem;
	  width: auto;
  }
  .sponsor_scroll{
    width: 100%;
  }

  .sponsor_scroll img {
    width: 100%;
  }
	
  }
</style>
