---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import BackBtn from "../components/Back_btn.astro";
import EventList from "../components/EventList.astro";
import FilterBtn from "../components/Filter_btn.astro";
import HeartBtn from "../components/Heart_btn.astro";
import IndexCard from "../components/IndexCard.astro";
import InfoRow from "../components/InfoRow.astro";
import ListBtn from "../components/List_btn.astro";

---

<MainLayout>
  <h1>Komponenter</h1>
  <BackBtn />
  <EventList />
  <FilterBtn />
  <HeartBtn />
  <IndexCard />
  <InfoRow />
  <ListBtn />
</MainLayout>
