---

---

<a href="/program/Alle" class="back">Tilbage</a>

<style>
    a {
        background-color: #ed749d;
        padding: 0.45rem 1rem;
        border-radius: 200px;
        height: fit-content;
        color: #1d1d1d;
        text-decoration: none;
    }
</style>