---
import EventCard from './EventCard.astro';

let {events, category, date} = Astro.props;

let filteredEvents;

if (category === 'All') {
  filteredEvents = events.filter(event => event.date.includes(date));
} else {
  filteredEvents = events.filter(event => event.date.includes(date) && event.categories.includes(category));
}
---
<div class="grid">

    {filteredEvents.map(event => {
      return (
        <EventCard {...event} />
      )
    })}

</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
        margin-bottom: 2rem;
    }


</style>