---
import "../styles/global.css";
---

<a href={"/program/" + Astro.props.category}>
    <button>
      {Astro.props.category}
    </button>
  </a>


<style>
    button {
        background-color: rgb(239, 142, 182);
        border: none;
        color: #101010;
        padding: 0.6rem 1.2rem;
        border-radius: 500px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: rgb(222, 88, 144);
    }

</style>