<button>
    <div class="button-div">
        <img src="/imgs/heart1.svg" alt="">
    </div>
</button>

<style>
        button {
        background-color: #BC002D;
        border: none;
        color: white;
        height: 2.8rem;
        width: 2.8rem;
        border-radius: 500px;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #95000c   }

    img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.1rem;
    }

    .button-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }


</style>