---

---

<a href={Astro.props.link} style={{backgroundImage: `url(/imgs/${Astro.props.img})`}} class="card">
    <h2>
        {Astro.props.title}
    </h2>
</a>

<style>


    .card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 5/4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;

        border-radius: 0.4rem;
        background: linear-gradient(0deg, rgba(79, 0, 47, 0.4), rgba(79, 0, 47, 0.4));
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    
    h2 {
        text-align: center;
        font-weight: normal;
        font-size: 2rem;
    }
</style>