---

---

<div class="flex_row">
	<slot name="icon" class="icon"></slot>
	<div class="info_content">
		<h2 class="info_bold">{Astro.props.title}</h2>
		<h2>{Astro.props.subtitle}</h2>
	</div>
</div>

<style>

    h2 {
        font-size: 1.2rem;
        font-weight: normal;
    }
    .flex_row {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }   

    .flex_row img {
        width: 2rem;
        margin-right: 1rem;
    }

    .info_bold {
        font-weight: bold;
    }

    .icon {
        width: 1rem;
    }


</style>