---

---

<div class="flex_row">
	<img src={Astro.props.icon} class="icon"/>
	<div class="info_content">
		<h2 class="info_bold">{Astro.props.title}</h2>
		<h2>{Astro.props.subtitle}</h2>
	</div>
</div>

<style>
    h2:first-of-type {
        margin-bottom: 0.4rem;
    }
    .flex_row {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }   

    .info_bold {
        font-weight: bold;
    }

    .icon {
    	width: 2rem;
		margin-right: 1rem;
    }


</style>