---

---

<button>
    <div class="button-div">
        <img src="/imgs/heart1.svg" alt="" class="heart_icon">
        <p>Tilføj til Min Liste</p>
    </div>
</button>

<style>
        button {
        background-color: #BC002D;
        border: none;
        color: white;
        padding: 1rem 1.4rem;
        border-radius: 500px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 1rem;
    }

    .button-div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    button:hover {
        background-color: #95000c   }

        .heart_icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }
</style>

<script>

// button toggle function
const button = document.querySelectorAll('button');
const img = document.querySelector('img');
const p = document.querySelector('p');


</script>