---
---

<footer>
  <div class="footer_flex">
    <div class="flex kort">
      <h2>Kort</h2>
      <p>Langelinie Park, Nordre Toldbod, 1259 København</p>
      <a href="https://goo.gl/maps/h6CkMgzJXYgYh1fAA">
        <img src="/imgs/map.webp" alt="" />
      </a>
    </div>
    <div class="flex kontakt">
      <h2>Kontakt</h2>
      <p>c/o Embassy of Japan Havneholmen 25, 9F. 1561 København V</p>
      <div>
        <p>tlf (+45) 3345 5121</p>
        <p>fax (+45) 3311 3377</p>
        <p>email info.cph@ch.mofa.go.jp</p>
      </div>
    </div>
    <div class="flex socials">
      <h2>Følg os</h2>
        <div class="icons">
            <a href="https://www.instagram.com/copenhagensakurafestival/">
            <img src="imgs/icon _instagram_.svg" alt="Instagram Ikon" />
        </a>
        <a href="https://www.facebook.com/copenhagensakurafestival">
            <img src="imgs/icon _facebook squared_.svg" alt="Ikon facebook" />
            </a>
        </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background: linear-gradient(161.14deg, rgba(255, 255, 255, 0) -240.87%, #de507f 83.02%);
    box-shadow: inset 0px 75px 69px -75px rgba(128, 22, 47, 0.16);
    height: 300%;
    color: white;
    padding: 4rem 2rem;
  }

  .footer_flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .footer_flex h2 {
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
  }

  img {
    mix-blend-mode: luminosity;
  }

  .socials {
    order: -1;
  }

  .icons{
        display: flex;
        gap: 1.5rem;
    }

    .icons img{
        width: 3rem;
    }

  @media (min-width: 650px) {
    .footer_flex {
      flex-wrap: nowrap;
      display: flex;
      justify-content: space-between;
      gap: 3.5rem;
      max-width: 800px;
      margin: 0 auto;
      padding-inline: 2rem;
    }

    .socials {
      order: 0;
    }
  }
</style>
