---
---


<header>
  <div class="first_list">
    <a href="/"><img src="/imgs/logo.svg" alt="Sakura Festival Logo" class="sakura-logo" /></a>
    <a href="/"><p class="hide">Sakura Festival</p></a>
  </div>

  <nav class="hide">
    <ul class="nav_list">
      <li>
        <a href="/program/All" class="nav_link">Program</a>
      </li>
      <li>
        <a href="/bliv_frivillig" class="nav_link">Bliv Frivillig</a>
      </li>
      <li>
        <a href="/om_os" class="nav_link">Om Sakura</a>
      </li>
      <li>
        <a href="/find_vej" class="nav_link">Find Vej</a>
      </li>
    </ul>
  </nav>

  <div class="hide">
    <div class="last_list">
      <a href="min_liste">Min Liste</a>
      <p><b>DK</b>/ENG</p>
    </div>
  </div>
</header>

<style>

  .hide {
    display: none;
  }
  .nav_list{
    position: fixed;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .last_list{
    position: fixed;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  



  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }

  .sakura-logo {
    width: 2.5rem;
    aspect-ratio: 1/1;
    margin: 0.5rem 0.5rem;
  }

  header {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: none;
    white-space: nowrap;
  }

  .first_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .first_list p {
    font-family: "new-spirit", serif;
    font-weight: 500;
    margin: 0;
    margin-left: 0.5rem;
  }


  @media (min-width: 650px) {

    .hide {
      display: block;
    }

    header {
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem 0;
      margin: 0;
      border: 1px solid rgba(225, 164, 204, 0.183);

      box-shadow: 0 0 10px rgba(225, 164, 204, 0.2);
      text-decoration: none;
      background-color: none;
    }

    .nav_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 2rem;
    position: relative;
    width: 100%;
    text-align: center;

    }

    .last_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 2rem;
    position: relative;
    width: 100%;
    
  }

    a {
    font-size: 16px;
  }
  }
</style>
